<legend>Comments</legend><br><br>
    <div class="form-style" style="padding-bottom: 20px;width: 100%;">
        <form action="{% url 'streaming:post_comment' %}" method="post" onsubmit="submitOnce('comment_submit', 'comment_sending')">
            {% csrf_token %}
            <input type="text" name="content" placeholder="Leave a comment" size="500" maxlength="500" style="width: 60%;" required>
            <input type="hidden" name="url" value="{{ request.get_full_path }}">
            <input type="submit" value="Comment" id="comment_submit">
            <input disabled type="submit" name="sending" value="Posting..." id="comment_sending" hidden>
        </form>
    </div>
    {% for comment in comments %}
        <hr>
        <p><span>Posted By: </span><a href="{% url 'streaming:user_page' username=comment.posted_by %}">{{ comment.posted_by }}</a> <span> on {{ comment.timestamp }}</span> <br><br></p>
        <span>"{{ comment.content }}"</span><br>
    {% endfor %}

    <br><br>

    {% if comments.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <span>&#8226;</span>
        <a href="?page={{ comments.previous_page_number }}">previous</a>
    {% endif %}

    <span>
        Page {{ comments.number }} of {{ comments.paginator.num_pages }}
    </span>

    {% if comments.has_next %}
        <a href="?page={{ comments.next_page_number }}">next</a>
        <span>&#8226;</span>
        <a href="?page={{ comments.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
