<legend>Details</legend>
<p>Season {{ episode.part_of.season_number }} Episode {{ episode.episode_number }}</p>
<p>Genre: <span>{{ episode.metadata.genre }}</span></p>
<p>Description: <span>{{ episode.description|linebreaksbr }}</span></p>
<p>Production Studio: <span>{{ episode.metadata.studio }}</span></p>
<p>Streaming Service: <span>{{ episode.metadata.streaming_service }}</span></p>
<p>Runtime: <span>{{ episode.runtime }}</span></p>
<p>Actors:</p>
{% for actor in actors %}
    <p><span>{{ actor.name }}</span></p>
{% endfor %}