{% extends "base.html" %}
<!-- This template should be extended by any template that needs to have the navbar at the top. -->
{% block body %}
	<nav class="bar">
		<ul>
		<li><a href="{% url 'streaming:homepage' %}">Home</a></li>
		<li><a href="{% url 'streaming:accountPage' %}">Account</a></li>
		<li><a href="{% url 'streaming:user_page' %}">Profile</a></li>
		<li><a href="{% url 'streaming:inbox' %}">Inbox
			{% if request.user.inbox.num_unread_messages > 0 %}<span style="color: red;"> ({{request.user.inbox.num_unread_messages}})</span>{% endif %}</a></li>
		<li><a href="{% url 'streaming:friends' %}">Friends</a></li>
		<li><a href="{% url 'streaming:movies' %}">Movies</a></li>
		<li><a href="{% url 'streaming:shows' %}">TV Shows</a></li>
		<li style="float: right;"><a href="{% url 'streaming:logout' %}">Logout</a></li>
		<li style="float: right;color: #ffd700;padding-left: 30px;">Logged in as: {{ request.user }} </li>
		<li style="float: right; text-align: right;">
			<div class="form-style" style="width: 310px;">
				<form action="{% url 'streaming:search' %}" method="get">
					<input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
					<input type="submit" value="Go">
					<input type="checkbox" name="Title" checked style="display: none;" >
				</form>
			</div>
		</li>
		</ul>
	</nav>

	<article>
	{% block content %}
		Error: navPage.html inherited without overwriting content! Fix that, you dingus!
	{% endblock %}
	</article>

	<div class="footer">
		<h1 id="company">Concept Site<span style="float: right;padding-right: 30px;color: #fffafa;">AMELA</span></h1>
		<a id="about" href="{% url 'streaming:about' %}">About Us</a>
		<span style="float: right;padding-right: 30px;">CS 4800 Software Engineering Company</span>
	</div>

{% endblock %}
