{% extends "base.html" %}
<!-- This template should be extended by any template that needs to have the navbar at the top. -->
{% block body %}
	<nav class="bar">
		<ul>
		<li><a href="{% url 'streaming:homepage' %}">Home</a></li>
		<li><a href="{% url 'streaming:accountPage' %}">Account</a></li>
		<li><a href="{% url 'streaming:user_page' %}">Profile</a></li>
		<li><a href="{% url 'streaming:inbox' %}">Inbox</a></li>
		<li><a href="{% url 'streaming:friends' %}">Friends</a></li>
		<li><a href="{% url 'streaming:movies' %}">Movies</a></li>
		<li><a href="{% url 'streaming:shows' %}">TV Shows</a></li>
		<li style="float: right;"><a href="{% url 'streaming:logout' %}">Logout</a></li>
		<li style="float: right;color: #ffd700;padding-left: 30px;">Logged in as: {{ user }} </li>
		<li style="float: right; text-align: right;">
			<div class="form-style" style="width: 310px;">
				<form action="{% url 'streaming:search' %}" method="get">
					<input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
					<input type="submit" value="Go">
				</form>
			</div>
		</li>
		</ul>
	</nav>

	<article>
	{% block content %}
		Error: navPage.html inherited without overwriting content! Fix that, you dingus!
	{% endblock %}
	</article>

{% endblock %}
