<div id="popup" class="popup-style">
    <div class="popup-style-content">
        <span class="close">&times;</span>
        <form action="{% url 'streaming:search' %}" method="get">
            <p>Filter Search</p>
            <input style="width: 300px;" class="searchfield" id="searchbox" name="Title" type="text" placeholder="Search for Movies and Shows" value="{{ query }}">
            <input type="submit" value="Search">
                <h2>
                {% for filter in filters %}
                    {% if filter.name != "Title" %}
                        {{ filter.name }}: <input style="width: 100px;margin-right: 20px;" id="{{ filter.name }}" list="{{ filter.name }}-list" autocomplete=off placeholder="{{ filter.name }}" value="{{ filter.value}}" type="text" name="{{ filter.name }}">
                            <datalist id="{{ filter.name }}-list">
                            {% for option in filter.defaults %}
                                <option>{{ option }}</option>
                            {% endfor %}
                            </datalist>
                    {% endif %}
                {% endfor %}
                </h2>
        </form>
    </div>
</div>