{% extends "navPage.html" %}

{% block content %}
    <header style="text-align: left;">About Us</header>
    <hr><br>
        <fieldset>
            <legend>Concept Site</legend>
            <p style="color: #fffafa;">Concept Site is a streaming service created by AMELA under contract with the CS
            4800 Software Engineering Company.</p>
            <p>Disclaimer:<span> This website is an academic project that we are required to make available on the internet.
            As such, we highly advise against putting any real personal info on our site because we cannot guarantee its safety.
            We have no intention to violate copyright law and have done our best to ensure all media on this site is in the public domain.
            If you believe any media on our site violates copyright protection, please email us at AmelaDevelopmentTeam@gmail.com and we will remove it as soon as possible.</span></p>
            <p>- AMELA</p>
        </fieldset>

{% endblock %}