{% extends "navPage.html" %}

{% block content %}
    <header style="text-align: left;">About Us</header>
    <hr><br>
        <fieldset>
            <legend>Concept Site</legend>
            <p style="color: #fffafa;">Concept Site is a streaming service created by AMELA under contract with the CS
            4800 Software Engineering Company.</p>
            <p>Disclaimer:<span> This is merely a group project assignment for Edwin Rodríguez's CS 4800 class.
                This is a completely fake website. Please do not sue us for the entertainment rights.
                Enter personal information at your own risk.</span></p>
            <p>- AMELA</p>
        </fieldset>

{% endblock %}