{% extends "navPage.html" %}

{% block content %}
    <header>Here you can edit your preferences.</header>
    <p>Username: {{user}}</p>
    <p>Change Password: *implement later, once "forgot password" is implemented on login page*</p>
    <p>Email Preferences: Not Available</p>
    <p>Subscription began on *place holder*. Next billing cycle begins *place holder + 1 month*.</p>
    <p>Credit card information: option to add, view (with **** for last 4 digits and cvv number), or delete credit card info</p>
    <p>Billing history: Not Available</p>

{% endblock %}