{% extends "navPage.html" %}

{% block content %}
    <header style="text-align: left;">Account Information</header>
    <hr>
    <p style="text-align: right;">Date Joined:<span> {{ user.date_joined }}</span></p>
    <section style="width: 43%;float: left;padding-top: 20px;">
        <fieldset>
            <legend>User Information:</legend>
            <p>Username: <span>{{ user }}</span></p>
            <p>Name: <span>{{ user.first_name }} {{ user.last_name }}</span></p>
            <p>Email: <span>{{ user.email }}</span></p>
            <label style="padding-right: 15px; color: #ffd700; font-size: 16px;">Receive Site Notification via:</label>
                <input type="checkbox" onclick=""><span style="padding-right: 10px; font-size: 15px;"> Email</span>
                <input type="checkbox" onclick=""><span style="font-size: 15px;"> Account Inbox</span>
            <p style="padding-bottom: 64px;"></p>
            <div class="form-style" style="margin: 0;padding-bottom: 20px;">
                <form action="{% url 'streaming:change' %}">
                    <input type="submit" value="Change User Information">
                </form>
            </div>
            <div class="form-style" style="margin: 0;padding-bottom: 20px;">
                <form action="{% url 'password_reset' %}">
                    <input type="submit" value="Change Password">
                </form>
            </div>
        </fieldset>
    </section>

    <section style="width: 50%;float: right;padding-top: 20px;">
        <fieldset>
            <legend>Billing Information:</legend>
            <p>Next Payment Date: <span>{{ user.billing.next_payment_date }}</span></p>
            <p>Name on Card: <span>{{ user.billing.name }}</span></p>
            <p>Credit Card Number: <span>{{ user.billing.cc_num }}</span></p>
            <p>Expiration Date: <span>{{ user.billing.exp_month }}/{{ user.billing.exp_year }}</span></p>
            <p>CVC Number: <span>{{ user.billing.cvc_num }}</span></p>
            <p></p>
            <div class="form-style" style="margin: 0;padding-bottom: 20px;">
                <form action="{% url 'streaming:billing' %}">
                    <input type="submit" value="Change Billing Information">
                </form>
            </div>
        </fieldset>
    </section>

    <section style="width: 97%;float: left;padding-top: 20px;">
        <fieldset>
            <legend>Transaction Information:</legend>
                <p>To do: </p>
                <p>Email Preferences</p>
                <p>Hiding CC Info</p>
                <p>Billing History? or only current transaction info?</p>
        </fieldset>
    </section>

{% endblock %}