{% extends "navPage.html" %}

{% load static %}
{% block content %}
    <header style="text-align: left;">Account Information</header>
    <hr>
    <p style="text-align: right;">Date Joined:<span> {{ user.date_joined }}</span></p>
    <section style="width: 43%;float: left;padding-top: 20px;">
        <fieldset>
            <legend>User Information:</legend>
            <p>Username: <span>{{ user }}</span></p>
            <p>Name: <span>{{ user.first_name }} {{ user.last_name }}</span></p>
            <p>Email: <span>{{ user.email }}</span></p>
            <p style="margin-bottom: 0;">Site Notifications <span>(Note: One form of communication is necessary)</span>:</p>
            <div class="form-style" style="margin: 0;width: 100%;">
                <form action="{% url 'streaming:accountPage' %}" method="POST" style="margin: 0;display: inline-block;padding-bottom: 10px;">
                    {% csrf_token %}
                    {% if user.preferences.email_opt_in %}
                        <input type="submit" name="emailOut" value="Opt Out of Emails">
                    {% else %}
                        <input type="submit" name="emailIn" value="Opt In to Emails">
                    {% endif %}

                    {% if user.preferences.inbox_opt_in %}
                        <input type="submit" name="inboxOut" style="margin-left: 30px;" value="Opt Out of Inbox Messages">
                    {% else %}
                        <input type="submit" name="inboxIn" style="margin-left: 30px;" value="Opt In to Inbox Messages">
                    {% endif %}
                </form>
            </div>
                {% if message %}
                <pre>{{ message }}</pre>
                {% else %}
                <p style="padding-bottom: 20px;"></p>
                {% endif %}
            <p></p>
            <div class="form-style" style="margin: 0;padding-bottom: 20px;">
                <form action="{% url 'streaming:change' %}">
                    <input type="submit" value="Change User Information">
                </form>
            </div>
            <div class="form-style" style="margin: 0;padding-bottom: 20px;">
                <form action="{% url 'password_reset' %}">
                    <input type="submit" value="Change Password">
                </form>
            </div>
        </fieldset>
    </section>

    <section style="width: 50%;float: right;padding-top: 20px;">
        <fieldset>
            <legend>Billing Information:</legend>
            <p>Next Payment Date: <span>{{ user.billing.next_payment_date }}</span></p>
            <p>Name on Card: <span>{{ user.billing.name }}</span></p>
            <p>Credit Card Number: <span>{{ cc_num_hidden }}</span></p>
            <p>Expiration Date: <span>**/****</span></p>
            <p>CVC Number: <span>***</span></p>
            <p style="padding-bottom: 41px;"></p>
            <div class="form-style" style="margin: 0;padding-bottom: 20px;">
                <form action="{% url 'streaming:billing' %}">
                    <input type="submit" value="Change Billing Information">
                </form>
            </div>
            <div class="form-style" style="margin: 0;padding-bottom: 20px;">
                <form action="{% url 'streaming:cancel_plan' %}">
                    <input type="submit" value="Cancel Plan">
                </form>
            </div>
        </fieldset>
    </section>

    <section style="width: 97%;float: left;padding-top: 20px;">
        <fieldset>
            <legend>Transaction Information:</legend>
                {% for entry in transactions %}
            <p>
                <span>{{ entry.time }} - </span>
                {{ entry.statement }}: <span>${{ entry.amount }}</span>
            </p>
      {% endfor %}
        </fieldset>
    </section>

{% endblock %}
