{% extends "simplePage.html" %}

{% block content %}
{% load static %}
	<div class="form-style">

	<form action="{% url 'streaming:createUser' %}" method="post">
		{% csrf_token %}
		<br><br>
		<header>Create Account</header><br><br>
		<fieldset>
			<legend>Account Information:</legend>
			<label for="username">Username: </label><br>
			<input id="username" type="text" name="username" pattern="[a-zA-Z0-9-_]{1,20}"
				   title="Username can only include letters, numbers, dashes, and underscores." required><br>
			<h1>
				{% if error_message != None %}
				{{ error_message }}
				{% endif %}
			</h1>
			<label for="password">Password: </label><br>
			<input id="password" type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
		   title="Password must be at least 8 characters and contain at least 1 number, 1 uppercase letter, and 1 lowercase letter." required><br>
			<h2>
				<input type="checkbox" onclick="togglePassword()"> Show Password
			</h2>
		</fieldset>
		<br>
		<fieldset>
			<legend>Personal Information:</legend>
			<label for="first_name">First Name: </label><br>
			<input id="first_name" type="text" name="first_name" pattern="[A-Za-z]{1,20}" title="Letters only." required><br><br>
			<label for="last_name">Last Name: </label><br>
			<input id="last_name" type="text" name="last_name" pattern="[A-Za-z]{1,20}" title="Letters only." required><br><br>
			<label for="email">Email: </label><br>
			<input id="email" type="email" name="email" required><br>
		</fieldset>
		<br><br>
		<input type="submit" value="Submit">
	</form>
	<h2><a href="javascript:history.back()">Back</a></h2>
	</div>
<script src="{% static 'streaming/js/utility.js' %}"></script>
{% endblock %}
