{% extends "simplePage.html" %}

{% block content %}
{% load static %}
	<div class="form-style">

	<form action="{% url 'streaming:editProfile' %}" method="post">
		{%  csrf_token %}
		<br><br>
        <header></header><br><br>
		<fieldset>
			<legend>Edit Profile Information</legend><br>
				<label for="bio">Bio: </label><br>
			{% include "charCountField.html" with field_id="bio" field_name="bio" field_value=user.bio field_limit=500%}<br><br>
		    <input type="submit" value="Submit">
		</fieldset>
	</form>
		<br><h2><a href="{% url 'streaming:user_page' %}">Back to Profile</a></h2>
</div>
{% endblock %}
