{% extends "simplePage.html" %}

{% block content %}
{% load static %}
	<div class="form-style">

	<form action="{% url 'streaming:editProfile' %}" method="post">
		{%  csrf_token %}
		<br><br>
        <header></header><br><br>
		<fieldset>
			<legend>Edit Profile Information</legend><br>
			<label for="bio">Bio: </label><br>
            <textarea id="bio" type="text" name="bio"></textarea><br><br>
            <label for="fav_movies">Favorite Movies: </label><br>
            <textarea id="fav_movies" type="text" name="fav_movies"></textarea><br><br>
            <label for="fav_shows">Favorite TV Shows: </label><br>
            <textarea id="fav_shows" type="text" name="fav_shows"></textarea><br><br>
            <input type="submit" value="Submit">
		</fieldset>
	</form>
		<br><h2><a href="{% url 'streaming:user_page' %}">Back to Profile</a></h2>
</div>
{% endblock %}