{% extends "navPage.html" %}

{% block content %}

<header style="text-align: left;">Friends</header>
<hr>
<br>

<div class="form-style" id="friendsSearch">
	<form action="{% url 'streaming:usersearch' %}" method="get">
		<input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search for Users" value="{{ query }}">
		<input type="submit" value="Search">
	</form>
</div>

    <p>People you're following:</p>
    {% for entry in friends %}
        <a href="{% url 'streaming:user_page' username=entry.username %}">{{ entry.username }}</a>
    {% endfor %}

{% endblock %}