{% extends "navPage.html" %}

{% block content %}

<header style="text-align: left;">Friends</header>
<hr>
<br>

<div class="form-style" id="friendsSearch">
	<form action="{% url 'streaming:usersearch' %}" method="get">
		<input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search for Users" value="{{ query }}">
		<input type="submit" value="Search">
	</form>
</div>

<p>This is the page that shows you what friends you have</p>
<p>However, we have not added this feature yet, so you have no friends.</p>

{% endblock %}