{% extends "navPage.html" %}
{% load static %}

{% block content %}

<header style="text-align: left;">Friends</header>
<hr>
<br>

<div class="form-style" id="friendsSearch">
	<form action="{% url 'streaming:usersearch' %}" method="get">
		<input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search for Users" value="{{ query }}">
		<input type="submit" value="Search">
	</form>
</div>

    {% if friends %}
    <h1 id="search">People you're following:</h1>
		<div class="media-style" style="grid-auto-rows: 20vw;">
            {% for entry in friends %}
            <figure>
                <a id="friendsList" href="{% url 'streaming:user_page' username=entry.username %}">
                    <img style="border-radius: 50%;" src="{% static "streaming/"|add:entry.profile_picture %}" >{{ entry.username }}
                </a>
            </figure>
            {% endfor %}
        </div>
    {% else %}
    <h1 id="search">You are not following anyone.</h1>
    {% endif %}

{% endblock %}