{% extends "simplePage.html" %}

{% block content %}
{% load static %}
	<div class="form-style">

	<form action="{% url 'streaming:login' %}" method="post">
		{%  csrf_token %}
		<br><br>
		<header>Concept Site</header><br><br>
		<fieldset>
			<legend>Login</legend>
			<h1>
				{% if error_message != None %}
				{{ error_message }}
				{% endif %}
			</h1>
            <input type="hidden" id="redirect" type="text" name="redirect" value="{{ next }}">
			<label for="username">Username: </label><br>
			<input id="username" type="text" name="username" required><br><br>
			<label for="password">Password: </label><br>
			<input id="password" type="password" name="password" required><br>
			<h2>
				<input type="checkbox" onclick="togglePassword()"> Show Password
			</h2>
			<input type="submit" value="Submit">
		</fieldset>
		<h2><a href="">Forgot Password</a></h2>
		<h2><a href="{% url 'streaming:createUser' %}">Create an Account</a></h2>
	</form>
	</div>
<script src="{% static 'streaming/js/utility.js' %}"></script>
{% endblock %}