{% extends "navPage.html" %}
{% load static %}

{% block title %}{{ media.title }} - AMELA{% endblock %}

{% block content %}
	<header>{{ media.title }} <span>({{ media.metadata.release_year }})</span></header><br>
    <!--<iframe src="{{ media.file_location }}" width="640" height="480" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>-->
    <script src="{{ media.file_location }}"></script>
	<section>
		<fieldset>
			<legend>Details</legend>
				<p>Genre: <span>{{ media.metadata.genre }}</span></p>
				<p>Description: <span>{{ media.description }}</span></p>
				<p>Production Studio: <span>{{ media.metadata.studio }}</span></p>
				<p>Streaming Service: <span>{{ media.metadata.streaming_service }}</span></p>
				{% if not episodes %}
				<p>Runtime: <span>{{ media.runtime }}</span></p>
				{% endif %}
				<p>Actors:</p>
				{% for actor in actors %}
					<span>{{ actor.name }}</span><br><br>
				{% endfor %}
		</fieldset>
	</section>

	<section id="side">
		<fieldset style="border: 0">
			<legend>Rating:</legend><br>
				<img id="photo" src="{% static "streaming/images/"|add:media.thumbnail_path %}"><br><br>
		</fieldset>
	</section>

{% if episodes %}
<section>
		<fieldset>
			<legend>Episodes</legend><br>
				{% for episode in episodes %}
					<a href="{% url 'streaming:display_episode' title=media.title season_number=episode.part_of.season_number episode_number=episode.episode_number %}"
					   style="text-decoration: underline;">Season {{ episode.part_of.season_number }} Episode {{ episode.episode_number }} {{ episode.title }}</a><br><br>
				{% endfor %}
	</fieldset>
</section>
{% endif %}
	<section>
		<fieldset>
			<legend>Comments</legend>
				{% for comment in comments %}
					<p><span>Posted By: </span>{{ comment.posted_by }}</p>
					<span>"{{ comment.content }}"</span><br>
					<hr>
				{% endfor %}
		</fieldset>
	</section>
{% endblock %}
