{% extends "navPage.html" %}
{% load static %}

{% block title %}{{ media.title }} - AMELA{% endblock %}
{% block description %}{{ media.description|truncatechars:300 }}{% endblock %}


{% block content %}
	<header>{{ media.title }} <span>({{ media.metadata.release_year }})</span></header><br>

	<aside>
		<fieldset style="border: 0">
			<legend>Rating:<div class="stars-outer"><div class="stars-inner" style="width: {{ avg_rating_perc }}%;"></div></div> ({{ num_ratings }} rating{{ num_ratings|pluralize }})</legend><br>
				<img id="photo" src="{% static "streaming/images/"|add:media.thumbnail_path %}"><br><br>
			{% if not episodes %}
			<div class="form-style" style="width: 100%;text-align: center;">
                <form action="{% url 'streaming:watch_media' title=media.title%}">
                    <input type="submit" value="WATCH" style="font-size: 20px;">
                </form>
            </div>
			{% endif %}
		</fieldset>
		<br><br>
		<fieldset>
			<legend style="text-align: center;">Leave a Rating</legend><br>
			<p>Implement Rating Functionality</p>
			<div class="form-style" style="text-align: center;">
                <form action="">
                    <input type="submit" value="Rate">
                </form>
            </div>
		</fieldset>
	</aside>

	<section>
		<fieldset>
			<legend>Details</legend>
				<p>Genre: <span>{{ media.metadata.genre }}</span></p>
				<p>Description: <span>{{ media.description|linebreaksbr }}</span></p>
				<p>Production Studio: <span>{{ media.metadata.studio }}</span></p>
				<p>Streaming Service: <span>{{ media.metadata.streaming_service }}</span></p>
				{% if not episodes %}
				<p>Runtime: <span>{{ media.runtime }}</span></p>
				{% endif %}
				<p>Actors:</p>
				{% for actor in actors %}
					<span>{{ actor.name }}</span><br><br>
				{% endfor %}
		</fieldset>
	</section>

{% if episodes %}
<section>
		<fieldset>
			<legend>Episodes</legend><br>
				{% for episode in episodes %}
					<a href="{% url 'streaming:display_episode' title=media.title season_number=episode.part_of.season_number episode_number=episode.episode_number %}"
					   style="text-decoration: underline;">Season {{ episode.part_of.season_number }} Episode {{ episode.episode_number }} {{ episode.title }}</a><br><br>
				{% endfor %}
	</fieldset>
</section>
{% endif %}

	<section>
		<fieldset>
			{% include "comment.html" %}
		</fieldset>
	</section>

{% endblock %}
