{% extends "navPage.html" %}
{% load static %}

{% block content %}

<fieldset>
    <legend>Choose a Photo:</legend><br>
        <div class="media-style">
        {% for entry in photos %}
            <figure>
                <form action="{% url 'streaming:pick_photo'%}" method="post">
                    {% csrf_token %}
                    <img name="image_choice" style="width: 200px;height: 200px;border-radius: 50%;" src="/streaming/media/profile_pictures/{{ entry }}"/>
                    <br><br>
                    <div class="form-style">
                        <input type="submit" name="image_choice" value="{{ entry }}">
                    </div>
                </form>
            </figure>
        {% endfor %}
        </div>
</fieldset>

{% endblock %}