{% extends "navPage.html" %}

{% block content %}
<div class="media-style">
	<form action="{% url 'streaming:search' %}" method="get">
		<fieldset>
			<input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search" value={{ query }}>
			
			{% comment %}
			<h2>
				<input type="checkbox" onclick="togglePassword()"> Show Password
			</h2>
			{% endcomment %}
			<input type="submit" value="Search">
		</fieldset>
	</form>
	{% for entry in media %}
	<figure>
		<a href="{% url 'streaming:display_media' title=entry.title %}"><img src="">{{ entry.title }}</a><br><br>
	</figure>
	{% endfor %}

</div>
{% endblock %}
