{% extends "navPage.html" %}

{% load static %}
{% block content %}
    <header style="text-align: left;">Inbox</header>
    <hr>

	<aside style="width: 20%;">
        {% include 'inboxNav.html' %}
	</aside>

    <section style="width: 73%;">
	
		{% if messages_to|length > 0 %}
			<p>You have {{ messages_to|length }} sent message{{ messages_to|length|pluralize }}.</p>
		{% else %}
			<p>You have no sent messages.</p>
		{% endif %}
		
		{% for message in messages_to reversed %}
				<fieldset>
					<legend>To: {{message.part_of.siteuser}}</legend>
					<p>Sent: {{message.timestamp}}</p>
				  	{% if message.from_user|stringformat:"s" == "amela" %}
                        <pre style="padding-left: 0;color: #fffafa;font-size: 15px;">{{message.content}}</pre>
                    {% else %}
                        <p class="break" style="padding-left: 0px;color: #fffafa;font-size: 15px;width: 800px">{{message.content}}</p>
                    {% endif %}

				</fieldset>
				<br>
		{% endfor %}

    </section>

<script src="{% static 'streaming/js/utility.js' %}" type="text/javascript"></script>
{% endblock %}
