{% extends "navPage.html" %}
{% load static %}

{% block content %}
	<header>{{ show.title }} <span>({{ show.metadata.release_year }})</span></header><br>
    <img id="photo" class="center" style="width: 20%;" src="{% static "streaming/images/"|add:show.thumbnail_path %}"><br><br>
    {% if exceed %}
         <p style="text-align: center;color: #fffafa;">YOU ARE NOT SUBSCRIBED TO THIS TV SHOW.</p>
         <p style="text-align: center;color: #fffafa;">YOU ALREADY HAVE THE MAXIMUM SUBSCRIPTIONS.</p>
         <p style="text-align: center;color: #fffafa;">SUBSCRIBE FOR AN ADDITIONAL FEE?</p>
    {% else %}
        <p style="text-align: center;color: #fffafa;">YOU ARE NOT SUBSCRIBED TO THIS TV SHOW.</p>
        <p style="text-align: center;color: #fffafa;">USE A SUBSCRIPTION SLOT?</p>
    {% endif %}
    <div class="form-style" style="width: 200px;text-align: center;">
        <form action="{% url 'streaming:subscribe' title=show.title season_number=season_number episode_number=episode_number%}" method="post">
            {% csrf_token %}
            <input type="submit" value="SUBSCRIBE" style="font-size: 20px;">
        </form>
        <h2><a href="javascript:history.back()">Maybe Later</a></h2>
    </div>
<script>document.getElementById("shows").classList.add("active");</script>
{% endblock %}
