{% extends "navPage.html" %}

{% block title %}{{ show.title }} S{{ episode.part_of.season_number }}E{{ episode.episode_number }}: {{ episode.title }} - AMELA{% endblock %}
{% block description %}{{ episode.description|truncatechars:300 }}{% endblock %}

{% load static %}
{% block content %}

	<header>{{ show.title }}</header>
    <p style="color: #fffafa; text-align: center; font-size: 20px">{{ episode.title }}
        <span style="color: #ffd700;">({{ episode.metadata.release_year }})</span></p>

	<aside>
		<fieldset style="border: 0">
			<legend>Rating:</legend><br>
				<img id="photo" src="{% static "streaming/images/"|add:show.thumbnail_path %}"><br><br>
			<div class="form-style" style="width: 200px;text-align: center;">
                <form action="{% url 'streaming:watch_media' title=show.title season_number=season_number episode_number=episode_number %}">
                    <input type="submit" value="WATCH" style="font-size: 20px;">
                </form>
            </div>
		</fieldset>
		<br><br>
		<fieldset style="size: 50px;">
			<legend style="text-align: center;">Leave a Rating</legend><br>
			<p>Implement Rating Functionality</p>
			<div class="form-style" style="width: 200px;text-align: center;">
                <form action="">
                    <input type="submit" value="Rate">
                </form>
            </div>
		</fieldset>
	</aside>

    <section>
        <fieldset>
            {% include 'episode_details.html' %}
        </fieldset>
    </section>

	<section>
		<fieldset>
			{% include "comment.html" %}
		</fieldset>
	</section>

{% endblock %}
