{% extends "navPage.html" %}

{% block content %}

	{% for entry in show %}
	  <header>{{ entry.title }}</header>
	{% endfor %}
	{% for entry in episode %}
	  <p>{{ entry.title }}</p>
	  <p>Season {{ entry.season_number }} Episode {{ entry.episode_number }}</p>
	  <p>Genre: {{ entry.metadata.genre }}</p>
	  <p>Description: {{ entry.description }}</p>
	  <p>Release year: {{ entry.metadata.release_year }}</p>
	  <p>Production Studio: {{ entry.metadata.studio }}</p>
	  <p>Streaming Service: {{ entry.metadata.streaming_service }}</p>
	  <p>Runtime: {{ entry.runtime }}</p>
	  <p>Actors:</p>
	  {% for actor in actors %}
		<p>{{ actor.name }}</p>
	  {% endfor %}
	{%  endfor %}
	
{% endblock %}
