{% extends "navPage.html" %}
{% load static %}

{% block title %}{{ user }} - AMELA{% endblock %}
{% block content %}

<div class="form-style" style="width:100%;text-align: right;">
    {% if user != request.user %}
        <form action="{% url 'streaming:user_page' username=user.username %}" method="post">
        {% csrf_token %}
            {% if not friends %}
                <input type="submit" name="follow_button" value="Follow" style="font-size: 18px;">
            {% else %}
                <input type="submit" name="follow_button" value="Unfollow" style="font-size: 18px;">
            {% endif %}
        <input type="submit" name="message" value="Message" style="font-size: 18px;margin-left: 30px;">
        </form>
    {% else %}
        <form action="{% url 'streaming:editProfile' %}" style="display: inline-block;">
        <input type="submit" value="Edit Bio" style="font-size: 18px;">
        </form>

        <form action="{% url 'streaming:pick_photo' %}" style="display: inline-block;margin-left: 30px;">
        <input type="submit" value="Change Profile Picture" style="font-size: 18px;">
        </form>
    {% endif %}
</div>

<div class="profile-style" style="padding-bottom: 90px;">
    {% if user.profile_picture %}
        <img style="border-radius: 50%;" src="{% static "streaming/"|add:user.profile_picture %}">
    {% endif %}
    <header>{{ user.first_name }} {{ user.last_name }}</header>
    <p>@{{ user }}</p>
</div>

<hr>
<p style="text-align: right;"><span>Member since</span> {{ user.date_joined }}</p>

<aside style="float: right;">
    <fieldset>
        <legend>Latest Rating</legend><br>
        {% if rating %}
        <div class="stars-outer" style="color: #ffd700;font-size: 35px;margin-left: 22%;"><div class="stars-inner" style="width: calc({{ rating.rating }}%*20); color: #ffd700;"></div></div>
        <p style="text-align: center;color: #fffafa;">{{ rating.part_of }}</p>
        {% else %}
        <h1 style="font-size: 16px;text-align: center;color: #fffafa;">No ratings yet.</h1>
        {% endif %}
    </fieldset>
    <br><br>
        <fieldset>
      <legend>Watch History:</legend>

      {% for entry in history %}
          {% if entry.tv %}
              <p><span>{{ entry.time_watched }} - </span><a href="{% url 'streaming:display_episode' title=entry.tv.part_of.part_of.title season_number=entry.tv.part_of.season_number episode_number=entry.tv.episode_number %}" style="text-decoration: underline;">{{ entry.tv.part_of.part_of.title }} - Season {{ entry.tv.part_of.season_number }} Episode {{ entry.tv.episode_number }}: {{ entry.tv.title }}</a></p>
          {% endif %}
          {% if entry.movie %}
              <p><span>{{ entry.time_watched }} - </span><a href="{% url 'streaming:display_media' title=entry.movie.title %}" style="text-decoration: underline;">{{ entry.movie.title }}</a></p>
          {% endif %}
      {% endfor %}

      <hr>

      {% if history.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <span>&#8226;</span>
          <a href="?page={{ history.previous_page_number }}">previous</a>
      {% endif %}
      <span>
          Page {{ history.number }} of {{ history.paginator.num_pages }}
      </span>

      {% if history.has_next %}
          <a href="?page={{ history.next_page_number }}">next</a>
          <span>&#8226;</span>
          <a href="?page={{ history.paginator.num_pages }}">last &raquo;</a>
      {% endif %}

    </fieldset>
    <br><br>
    <fieldset style="padding: 0 0 0 0">
        <legend style="margin-left: 35px;">Friends</legend><br>
        {% if friendsList %}
        <div class="media-style" style="grid-auto-rows: 10vw;grid-template-columns: repeat(2, 50%);grid-gap: 3px;">
            {% for entry in friendsList %}
            <figure>
                <a href="{% url 'streaming:user_page' username=entry.username %}">
                    {% if entry.profile_picture %}
                        <img style="border-radius: 50%;" src="{% static "streaming/"|add:entry.profile_picture %}" style="float: left;">{{ entry.username }}
                    {% endif %}
                </a>
            </figure>
            {% endfor %}
        </div>
        {% else %}
        <h1 id="search" style="font-size: 16px;">No friends yet.</h1>
        {% endif %}
        <br><br>
    </fieldset>
</aside>

<section>
    <fieldset>
        <legend>Bio:</legend>
        <br>
        <span>{{ user.bio }}</span>
        <br><br>
    </fieldset>
  <br><br>
    <fieldset>
        {% include "comment.html" %}
    </fieldset>
  </section>

{% endblock %}
