{% extends "navPage.html" %}

{% block title %}{% if query %}{{ query }} - {% endif %}AMELA User Search{% endblock %}

{% block content %}

<header style="text-align: left;">Friends</header>
<hr>
<br>

<div class="form-style" id="friendsSearch">
	<form action="{% url 'streaming:usersearch' %}" method="get">
		<input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search for Users" value="{{ query }}">
		<input type="submit" value="Search">
	</form>
</div>


	{% if users %}
		<h1 id="search">
			{{ count }} user{{ count|pluralize }} found:
		</h1>
		<div class="media-style" style="grid-auto-rows: 20vw;">
            {% for entry in users %}
            <figure>
                <a id="friendsList" href="{% url 'streaming:user_page' username=entry.username %}"><img style="border-radius: 50%;" src="/{{ entry.profile_picture.url }}">{{ entry.username }}</a>
            </figure>
            {% endfor %}
        </div>
	{% else %}
		<h1 id="search">
			No users found with name '<span style="color: #ffd700;">{{ query }}</span>'.
		</h1>
	{% endif %}


{% endblock %}
