{% extends "simplePage.html" %}

{% block content %}
{% load static %}

<div class="form-style" style="padding-top: 80px;">
  {% if validlink %}
  <fieldset style="padding-bottom: 20px;">
    <legend>Change password</legend>
      <form method="post">
        {% csrf_token %}
        <h1></h1>
        {% for field in form.visible_fields %}
          <label>{{ field.label_tag }}</label><br>
          <input {{ field }}><br><br>
    {% endfor %}
        <br>
        <input type="submit" value="Change Password">
      </form>
  </fieldset>
    {% else %}
      <p style="color: #fffafa;">The password reset link was invalid, possibly because it has already been used.</p>
      <p style="color: #fffafa;">Please request a new password reset.</p>
  {% endif %}
</div>

{% endblock %}