{% extends "simplePage.html" %}

{% block content %}
{% load static %}

  <p style="padding-top: 80px;color: #fffafa;">We've emailed you instructions for resetting your password.</p>
<p style="color: #fffafa;"><span style="text-decoration: underline;">If an account exists with the email you entered</span>, you should receive the email shortly.</p>
  <p style="color: #fffafa;">If you don't receive an email, please check your spam folder.</p>
  <br>
  <p style="font-size: 13px;"><a href="{% url 'streaming:login' %}">Return</a></p>

{% endblock %}