{% extends "simplePage.html" %}

{% block content %}
{% load static %}

  <div class="form-style" style="padding-top: 80px;">
    <fieldset>
      <legend>Reset password</legend>
        <form method="post">
          {% csrf_token %}
          <h1></h1>
          {% for field in form.visible_fields %}
          <label>{{ field.label_tag }}</label><br>
          <input {{ field }}><br><br>
    {% endfor %}
          <input type="submit" value="Submit">
        </form>
    </fieldset>
    <h2><a href="javascript:history.back()">Back</a></h2>
  </div>

{% endblock %}