{% extends "simplePage.html" %}

{% block content %}
{% load static %}

<div class="form-style" style="padding-top: 80px;">
  {% if validlink %}
  <fieldset style="padding-bottom: 20px;">
    <legend>Change password</legend>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change Password">
      </form>
  </fieldset>
    {% else %}
      <p style="color: #fffafa;">The password reset link was invalid, possibly because it has already been used.</p>
      <p style="color: #fffafa;">Please request a new password reset.</p>
  {% endif %}
  <br>
  <div class="form-style">
    <h2><a href="{% url 'streaming:login' %}" style="text-decoration: underline;">Back to Login</a></h2>
  </div>
</div>

{% endblock %}