{% extends "simplePage.html" %}

{% block content %}
{% load static %}

<div class="form-style" style="padding-top: 80px;">
  {% if validlink %}
  <form method="post">
        {% csrf_token %}
        <input id="password" type="password" name="password" style="visibility: hidden;"><br>
  <fieldset style="padding-bottom: 20px;">
    <legend>Change password</legend>
        <h1>
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              {{ error }}
            {% endfor %}
          {% endfor %}
        {% endif %}
        </h1>
          <label for="new_password1">New Password:</label><br>
          <input id="new_password1" name="new_password1" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
		   title="Password must be at least 8 characters and contain at least 1 number, 1 uppercase letter, and 1 lowercase letter." required><br><br>
          <label for="new_password2">New Password Confirmation:</label><br>
          <input id="new_password2" name="new_password2" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
		   title="Password must be at least 8 characters and contain at least 1 number, 1 uppercase letter, and 1 lowercase letter." required><br>
          <h2>
            <input type="checkbox" onclick="togglePassword()"> Show Password
          </h2>
        <input type="submit" value="Change Password">
      </form>
  </fieldset>
    {% else %}
      <p style="color: #fffafa;">The password reset link was invalid, possibly because it has already been used.</p>
      <p style="color: #fffafa;">Please request a new password reset.</p>
  {% endif %}
  <h2><a href="{% url 'streaming:login' %}" style="text-decoration: underline;">Return</a></h2>
</div>
<script src="{% static 'streaming/js/utility.js' %}"></script>

{% endblock %}